.App {
  text-align: center;
}

:root {
  --secondary: orange;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #eee;
}

.title {
  margin: 50px 0;
}

.counter {
  width: 310px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  border-radius: 10px;
}

.App {
  text-align: center;
}

.flex {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons {
  width: 330px;
}

.buttons button {
  width: 100px;
  margin: 5px;
  padding: 15px;
  font-size: 22px;
}

.ops-btn button {
  margin: 0 14px;
  padding: 10px 21px;
  font-size: 30px;
}

.btn-style button {
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  border-radius: 10px;
}

.btn-style button:hover {
  opacity: 80%;
  cursor: pointer;
}

footer a:hover {
  opacity: 75%;
}
